<%- include('./partials/header')  %>

<h2>Create a new Watch Coven</h2>

<span>
    <input value="Your New Coven's Name"><input>
    <button>Create</button>
</span>

<%- include('./partials/footer')  %>