<%- include('./partials/header')  %>

<h2>My Covens</h2>

<table>
    <tbody>
        <% covens.forEach(function(c) { %>
            <tr>
                <td><a href="/covens/<%= c._id %>"><%= c.name %></a></td>
            </tr>
        <% });%>
    </tbody>
</table>


<%- include('./partials/footer')  %>