<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://fonts.googleapis.com/css2?family=Kings&display=swap" rel="stylesheet">
    <title><%= title %></title>
</head>
<body>
    <nav>
        <a href="/">HOME</a>
        <% if (user) { %>
            <a href="">Found a Coven</a>
            <a href="">Join a Coven</a>
            <a href="/logout">LOG OUT</a>
        <% } else { %>
            <a href="/auth/google" class="login">LOG IN&nbsp;<img src="https://i.imgur.com/FHjYyi0.png"></a>
        <% } %>
    </nav>
    <h1><%= title %></h1>
    <main>
