body {
  padding: 10px;
  font-size: 20px;
  font-family: 'Supermercado One', cursive;;
  color: white;
  background-color: black;
}

body > nav {
  grid-area: nav;
  background-color: black;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px 0 30px;
}

nav > img {
  height: 34px;
  object-fit: contain;
  margin-right: auto;
}

#cat {
  height: 50px;
}

a {
  color:red;
}

nav > a {
  margin: 20px;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  color:red;
}

nav > a:hover:not(.active) {
  color: white;
  background-color: red;
}

nav > a.active {
  color: white;
  cursor: default;
}


h1 {
  font-family: 'Kings', cursive;
  font-size: 5vmin;
  text-align: center;
  color: red;
}

h2 {
  font-family: 'Kings', cursive;
  font-size: 3vmin;
  text-align: center;
  color: red;
}

span {
  display: flex;
  height: auto;
}


  
}
#joinCoven {
  justify-content: center;
  width: 400px;
}

table {
  width: 100%;
}

th, td {
  padding: 10px;
}

th {
  background-color: rgba(255, 0, 0, 0.249);
}

td {
  vertical-align: middle;
}

#scheduleViewing {
  text-align: center;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.login img {
  height: 30px;
}

.userAvatar {
  display: flex;
  border-radius: 100%;
  height: 30px;
  width: auto;
  justify-self: flex-end;
}


#covenInfo {
  display: flex;
  gap: 10px;
}

button {
  width: 20%;
  justify-content: center;
  font: 14px 'Kings', cursive;
  color: white;
  background-color: red;
  border-color: red;
}

.covenAvatar {
  width: 15vmin;
}